body {
    font-family: 'Josefin Sans', sans-serif; /* Police pour le texte */
    font-family: 'Lato', sans-serif; /* Une autre option de police */
    min-height: 100vh; /* Hauteur minimale de la vue */
    background: black; /* Couleur de fond de la page */
    margin: 0; /* Suppression des marges par défaut */
    position: relative; /* Position relative pour les éléments absolus */
    height: 100%; /* Hauteur de la page */
    color: rgb(0, 0, 0);
    padding-bottom : 100px;
}

/* Styles pour différents niveaux de titres */
h1 {
    font-size: 30px; 
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 15px; 
}
                                        /*****************************************************
                                                * Code pour la barre de navigation*
                                        *****************************************************/
/* Style pour la barre de navigation */
@media screen and (min-width: 768px){
    .PetitNavHeader{
        display: none;
    }
    .navHeader{
        background-color: black;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-size: 20px;
        flex-grow: 3;
        margin-top: 0.5em;
        margin-left: 1.5em;
    }
    .navHeader>ul>li>a{
        text-decoration: none;
        color: white;
    }
    .LogoNavBarGauche{
        display: flex;
        align-items: center;
    }
    .LogoNavBarGauche>a{
        margin-right: 1.5em;
    }
    .navHeader>ul{
        flex-grow: 0.5;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: top;
    }

    .navHeader>div>img{
        margin-right: 1.5em;
    }

    .navHeader ul {
        list-style: none;
        padding: 0;
        display: flex;
    }
    
    .navHeader ul li {
        margin-right: 20px;
        position: relative;
    }

    footer>div{
        display: flex;
        flex-direction: row;
    }

    footer>div>p{
        display:block;
        color: #EFCD1D ;
    }
    
    /* Effet de soulignement au survol des liens */
    nav ul li a::before {
        content: ""; /* Contenu vide pour l'effet de soulignement */
        position: absolute; /* Positionnement absolu */
        width: 0; /* Largeur initiale de la ligne de soulignement */
        height: 2.5px; /* Hauteur de la ligne de soulignement */
        bottom: -4px; /* Positionnement sous le texte */
        background-color: white; /* Couleur du soulignement */
        transition: width 0.3s ease; /* Transition fluide */
    }

    nav ul li a:hover::before {
        width: 100%; /* Élargissement du soulignement au survol */
    }
}
@media screen and (max-width: 768px){
    .PetitNavHeader{
        display: flex;
        background-color: #EFCD1D;
        position: fixed;
        bottom: 10%;
        left: 50%;
        transform: translateX(-50%);
        width: 90%;
        border-radius: 50px;
    }
    .PetitNavHeader>ul{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        list-style: none;
        flex-grow: 3;
        margin: 10px;
        padding: 0;
    }
    .PetitNavHeader>ul>li{
        display: flex;
        align-items: center;
    }
    .navHeader{
        display:none;
    }
    footer>div>p{
        display: none;
    }
}

footer{
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    bottom : 0;
    width: 100%;
    height: 0em;
    align-items: center;
}
footer>div{
    align-self: center;
}

                                        /*****************************************************
                                              *Fin Code pour la barre de navigation*
                                        *****************************************************/




                                        /*****************************************************
                                                * Code Page Avis&Critiques Lucas *
                                        *****************************************************/


/* Styles pour le formulaire dans la classe .wrapper */
.wrapper {

    width: 420px; /* Largeur du conteneur */
    background: black;
    color: white; /* Couleur du texte */
    border-radius: 10px; /* Bordures arrondies */
    padding: 30px 40px; 
    margin: 100px 30px 10em 57em; /* Marges du conteneur */
}

/* Styles pour les différents éléments du formulaire */
.wrapper h1 {
    font-size: 20px; 
    text-align: center; 
}

.wrapper .input-box{
    position : relative;
    width : 100%;
    height : 50px;
    background : black;
    margin : 30px 0;

}

.input-box input {
    width : 100%;
    height : 100%;
    background: transparent;
    border : none;
    outline : none;
    border : 2px solid white;
    border-radius : 40px;
    font-size : 15px;
    color : white;
    padding-left : 15px;
}

.input-box i {
    position : absolute;
    right : 20px;
    top : 50%;
    transform : translateY(-50%);
    font-size : 15px;
}

.wrapper .btn {   /* modifier la taille du bouton*/
    width : 79%;
    height : 50px;
    background : #000000 ;
    border : 1px solid  #EFCD1D;
    outline : none;
    border-radius : 40px;
    box-shadow: 0 0 10px black;cursor : pointer;
    font-size : 15px;
    color : rgb(255, 255, 255);
    font-weight: 600;
    margin-left : 3.5em;
    margin-top : 1em;
    transition: transform 0.5s ease-out;
}
.wrapper .btn:hover {
    transform: scale(1.1); /* Appliquer l'effet de zoom au survol */
    background-color: #EFCD1D;
    color : black;
}


.wrapper .register-link {
    font-size : 15px;
    text-align: center;
    margin : 20px;

}


.register-link p a:hover{
    text-decoration : underline;
}


.vertical-bar {
    width: 3px;
    height: 75vh;
    background-color: rgb(255, 255, 255);
    position: absolute;
    left: 48.5em;
    top: 14em; /* Ajustez cette valeur pour positionner par rapport au haut */
}

.afficherAvis1 {
    border: 1px solid #C32525;
    background-color: #C32525;
    height: 143px;
    width: 30em;
    padding: 1em;
    margin-left: 1em;
    margin-top: 2em;
    position: absolute;
    top: 15em; /* Place le bloc en haut de la page */
    left: 17%; /* Décalage de la gauche de 50% de la largeur du parent */
    transform: translateX(-50%); /* Recentre horizontalement le bloc */
    border-radius: 14px;
    overflow: hidden;
}

.afficherAvis1 img {
    width: 70px; /* Taille de l'image */
    height: 70px; /* Taille de l'image */
    border-radius: 50%; /* Arrondit l'image */
    object-fit: cover; /* Ajuste la taille de l'image sans déformer */
    margin-right: 20px; /* Espacement entre l'image et le texte */
    float: left; /* Place l'image à gauche du texte */
}

.afficherAvis2 {
    border: 1px solid #C32525;
    background-color: #C32525;
    height: 143px;
    width: 30em;
    padding: 1em;
    margin-left: 1em;
    margin-top: 2em;
    position: absolute;
    top: 27em; /* Place le bloc en haut de la page */
    left: 17%; /* Décalage de la gauche de 50% de la largeur du parent */
    transform: translateX(-50%); /* Recentre horizontalement le bloc */
    border-radius: 14px;
    overflow: hidden;
}

.afficherAvis2 img {
    width: 70px; /* Taille de l'image */
    height: 70px; /* Taille de l'image */
    border-radius: 50%; /* Arrondit l'image */
    object-fit: cover; /* Ajuste la taille de l'image sans déformer */
    margin-right: 20px; /* Espacement entre l'image et le texte */
    float: left; /* Place l'image à gauche du texte */
}


.afficherAvis3 {
    border: 1px solid #EFCD1D;
    background-color: #EFCD1D;
    height: 143px;
    width: 30em;
    padding: 1em;
    margin-left: 1em;
    margin-top: 2em;
    position: absolute;
    top: 39em; /* Place le bloc en haut de la page */
    left: 17%; /* Décalage de la gauche de 50% de la largeur du parent */
    transform: translateX(-50%); /* Recentre horizontalement le bloc */
    border-radius: 14px;
    overflow: hidden;

}

.afficherAvis3 img {
    width: 70px; /* Taille de l'image */
    height: 70px; /* Taille de l'image */
    border-radius: 50%; /* Arrondit l'image */
    object-fit: cover; /* Ajuste la taille de l'image sans déformer */
    margin-right: 20px; /* Espacement entre l'image et le texte */
    float: left; /* Place l'image à gauche du texte */
}

.titreavis {
    color: white;
    font-size: 20px;
    margin : 1em;
    position: absolute;
    top: 8.5em;
    left: 0%; /* Vous pouvez ajuster la valeur left pour centrer l'élément si nécessaire */
   
}




                                        /*****************************************************
                                                * Code JS page Avis & Critiques *
                                        *****************************************************/



                                        /*****************************************************
                                                * Code Page Profil  Lucas *
                                        *****************************************************/
.TitreProfilPage {
    font-size : 20px;
    color : white;
    margin-top: 7.5em;
    margin-left : 32em;
}

.InfosPersonnelles {
    border : 1px solid white;
    border-radius : 15px;
    height : 650px;
    width : 600px;
    margin-left : 30em;
    overflow: hidden;
}

.InfosPersonnelles img {
    width: 140px; /* Taille de l'image */
    height: 140px; /* Taille de l'image */
    border-radius: 50%; /* Arrondit l'image */
    object-fit: cover; /* Ajuste la taille de l'image sans déformer */
    margin-left: 14em; /* Espacement entre l'image et le texte */
    margin-top: 2em;


}


.wrapper2 {

    width: 420px; /* Largeur du conteneur */
    background: black;
    color: white; /* Couleur du texte */
    border-radius: 10px; /* Bordures arrondies */
    padding: 30px 40px; 
    margin: 20px 10px 10em 2.5em; /* Marges du conteneur */
}

/* Styles pour les différents éléments du formulaire */
.wrapper2 h1 {
    font-size: 20px; 
    text-align: center; 
}

.wrapper2 .input-box{
    position : relative;
    width : 100%;
    height : 50px;
    background : black;
    margin : 30px 0;

}

.input-box input {
    width : 100%;
    height : 100%;
    background: transparent;
    border : none;
    outline : none;
    border : 2px solid white;
    border-radius : 40px;
    font-size : 15px;
    color : white;
    padding-left : 15px;
}

.input-box i {
    position : absolute;
    right : 20px;
    top : 50%;
    transform : translateY(-50%);
    font-size : 15px;
}

.wrapper2 .btn {   /* modifier la taille du bouton*/
    width : 79%;
    height : 50px;
    background : #000000 ;
    border : 1px solid  #EFCD1D;
    outline : none;
    border-radius : 40px;
    box-shadow: 0 0 10px black;
    cursor : pointer;
    font-size : 15px;
    color : rgb(255, 255, 255);
    font-weight: 600;
    margin-left : 3.5em;
    margin-top : 1em;
    transition: transform 0.5s ease-out;
}

.wrapper2  .btn:hover {
    transform: scale(1.1); /* Appliquer l'effet de zoom au survol */
    background-color: #EFCD1D;
    color : black;
}


.wrapper2 .register-link {
    font-size : 15px;
    text-align: center;
    margin : 20px;

}


.register-link p a:hover{
    text-decoration : underline;
}
                                     
                             
                                        /*****************************************************
                                                        * Fin code Avis&Critiques *
                                        *****************************************************/


                                         /*****************************************************
                                                     * Code A propos Lucas *
                                        *****************************************************/
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
                                        
.NotreMission > h1 {
    color: white;
    margin-bottom: 30px; 
    margin-top : 4em;
}
                                        
.Content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%; 
    margin-top: 50px; 
    flex-direction: row-reverse;
}
                                        
.ImageAPropos img {
    width: 400px;
    height: 150px;
    object-fit: cover;
    background-color: #000000;
    transition : .3s linear;

}

.ImageAPropos:hover img {
    opacity: 0.5;
    transform : scale(1.2);
}
                                        
.Nous > p {
    color: white;
    max-width: 60%; 
    text-align: justify;
   
}

.first-letter {
    font-size: 2em; 
    font-weight: bold; 
    color: white; 
}
                                        

.Nous2 > p {
    color: white;
    max-width: 60%; 
    text-align: justify;
   
}

.first-letter2 {
    font-size: 2em; 
    font-weight: bold; 
    color: white; 
}
                                        


                                        /*****************************************************
                                                      * Code  Saison 1 Tom *  
                                        *****************************************************/


                                        

.body-saison1 {
    color: white;
}

.header-saison1{
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    align-items: center;

    text-align: center;
}

.header-saison1 h1{
    padding-top: 10%;
}

.div-affiche-saison1 {
    position: relative;
}

.affiche-saison1 {
    width: 1151px;
    height: 530px;
    border-radius: 15px;
}

.div-affiche-saison1 button {
    width: 210px;
    height: 44px;

    position: absolute;
    bottom: 37px;
    left : 53px;

    display: flex;
    justify-content: end;

    border-radius: 9px;
    background: #EFCD1D;
}

.moins16-saison1{
    position: absolute;
    top:4px;
    right: 20px;
}
.div-affiche-saison1 button a { /* A REPLACER AU PX PRES */
    color: black;
    text-decoration: none;
    font-size: 24px;
    font-weight: 900;

    position: absolute;
    top:4px;
    right: 20px;
    
}

.div-affiche-saison1  button img{
    width: 26px;
    height: 34px;

    position: absolute;
    top:4px;
    right: 160px;
}

.div-sous-affiche-saison1 {
    width: 1151px;
    display: flex;

    flex-direction: row;
}

.div-sous-affiche-saison1 div {
    position: relative;
    left: 945px;
}

                                        /*****************************************************
                                                           * Fin code Tom *
                                        *****************************************************/



                                        /*****************************************************
                                                * Code pour la d'accueil Guénolé *
                                        *****************************************************/


                                        /*****************************************************
                                                * Fin code pour la d'accueil Guénolé *
                                        *****************************************************/
                                        /*****************************************************
                                                * Code pour Backstage Benjamin *
                                        *****************************************************/
.BackstageBody * img{
    border-radius: 15px;
}
.BackstageBody{
    margin-bottom: 20%;
    color: white;
}
@media screen and (min-width: 768px){/* page en grand Ecran*/
    .petitEcran{
        display: none;
    }
    .aCote{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin: 0;
        margin-top:2% ;
        padding: 0;
    }
    .aCote>*{
        flex-shrink: 1;
    }
    .aCote div>figcaption{
        text-wrap: nowrap;
    }
    .ARegarderPlusTard{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top:8% ;
        margin-left: 8%;
    }
    .ARegarderPlusTard>p{
        margin-top: 0;
        margin-bottom: 0;
    }
    .aCote>p{
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 4%;
        flex-grow: 2;
    }
    figcaption{
        margin-left:8%;
        margin-top: 10%;
    }
    .texteDuHaut{
        margin-left: 2%;
        align-items: center;
    }
    .texteDuHaut>div{
        margin-left: 2%;
    }
    .acteur{
        margin: 0;
        flex-grow: 1;
        display:flex;
        flex-direction: column;
        align-items: center;
    }
    .acteur>figcaption{
        margin: 0;
        margin-top: 4%;
    }
    .titreSection{
        margin-left: 4%;
        margin-top: 13%;
    }
}
@media screen and (max-width: 768px){
    .BackstageBody{
        display: flex;
        flex-direction: column;
    }
    .grandEcran{
        display: none;
    }
    .aCote{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .texteDuHaut div{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 4%;
        margin-right: 4%;
    }
    .ARegarderPlusTard{
        display: flex;
        flex-direction: row;
        margin-top: 8%;
    }
    .ARegarderPlusTard>p{
        margin: 0 0 0 4%;
        text-wrap: nowrap;
    }
    .titreSection{
        align-self: center;
    }

    .petitActeurs{
        display: flex;
        flex-direction: row;
        flex-shrink: 2;
        align-items: start;
        justify-content: flex-start;
    }
    .petitActeurs>figure{
        margin: 1%;
        width: 15%;
    }
    .petitActeurs>figure img{
        width: 70%;
        height: 70%;
    }.titreSection{
        margin-top: 13%;
    }
    .texteDuHaut div{
        display: flex;
        flex-direction: column;
    }
    .miniature{
        display: flex;
        flex-direction: row;
        margin: 3% 0 3% 0;
        width: 60%;
    }
    .miniature>div{
        margin-left: 3%;
    }
}


                                        /*****************************************************
                                                * Fin code pour Backstage Benjamin *
                                        *****************************************************/
